{% extends 'base.html' %}

{% block detail %}
<div class="details-title">
    {% block banner %}
    <div class="detail-banner">
        <img src="{{banner}}" alt="" width="100%">
    </div>
</div>
    
    {% endblock banner %}
    
    {% for item in images %}
    <div class="detail-row">
        <div class="col col-6">
        <div class="detail-pic">
            <img src="{{ item.image }}">
        </div>
    </div>
        <div class="col col-6">
            <span> {{item.desc}} </span>
        </div>  
    </div>
    {% endfor %}
    <button class="back" onclick="history.back()">回上一頁</button>
</div>
{% endblock detail %}