{% extends 'base.html' %}

{% block detail %}
<div class="details-title">
    {% block banner %}
    <div class="detail-banner">
        <img src="{{banner}}" alt="" width="100%">
    </div>
</div>

{% endblock banner %}

<div class="detail-row">
    {% for item in images %}
    <div class="col col-6">
        <div class="detail-pic">
            <img src="{{ item.image }}">
        </div>
        {% if item.desc |length %}
        <div class="detail-desc">
            <span> {{item.desc}} </span>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button class="back" onclick="history.back()">回上一頁</button>
</div>
{% endblock detail %}