{% extends "base.html" %}
{% block cards %}
<span class="tags"> {{text.id}} </span>
<div class="content left">
    <div class="lab">
        <div class="pic">
            <span class="title"> {{text.title}} </span><br>
            <img src="{{text.image}}">
            <span class="source_pic"> {{text.source}} </span>
        </div>
        <div class="desc">
            {{text.desc}}
            <button class="more" id="more"> {{text.button}} </button>
            <hr>
        </div>
    </div>

    <div class="item right">
        <div class="dialog">
            <span class="dialog-title"> {{text.title_1}} </span><br>
            <span class="circle"></span>
            <span> {{text.content_1}} </span>
        </div>
        
        <div class="dialog">
            <span class="dialog-title"> {{text.title_2}} </span><br>
            <span class="circle"></span>
            <span> {{text.content_2}} </span>
        </div>
    </div>
</div>
{% endblock cards %}