$font-stack: arial, sans-serif
$primary-color: #38434D

*
    margin: 0
    padding: 0

body
    color: #fff
    font: 100% $font-stack
    font-size: 20px
    background-color: $primary-color

.row
    margin-right: auto
    margin-left: auto
    width: 100%
    max-width: 1140px

.content
    position: relative
    width: 50%
    border-radius: 6px
    padding: 90px 0 0 0

.timeline
    position: relative
    max-width: 1200px
    margin: 0 auto

    &::after
        content: ''
        position: absolute
        width: 6px
        background-color: white
        top: 0
        bottom: 0
        left: 50%
        margin-left: -3px
        z-index: -1

    .tags
        position: absolute
        background-color: #1b1d1f
        border: 7px solid #1b1d1f
        font-size: 2em
        margin: 1% 0 0 0
        left: calc(50% - 51px)

    .item
        position: absolute
        width: 100%
        top: 20%
        // height: 30%

        .circle
            position: absolute
            width: 15px
            height: 15px
            background-color: #08adda
            border: 4px solid white
            border-radius: 50%
            left: -10px
            margin-top: 55px

        .dialog
            width: 80%
            // height: 33%
            padding: 20px 30px
            margin: 10px 0 50px 0
            border: #fff solid
            position: relative
            border-radius: 6px
            left: 30px

        .arrow
            width: 0px
            height: 0px
            border-style: solid
            margin-top: 55px
            position: absolute
            left: 10px
            border: medium solid white
            border-width: 10px
            border-color: transparent white transparent transparent

.left
    left: 0%

.right
    left: 100%

.lab
    text-align: center
    position: relative
    width: 90%
    padding: 10px

    .pic
        width: 80%
        vertical-align: middle
        display: block
        margin: auto

        img
            width: 100%
            vertical-align: middle

    .desc
        padding: 10px 0 10px 0

hr
    display: block
    height: 1px
    border: 0
    border-top: 3px solid #1b1d1f
    margin: 1em 0
    padding: 0

.ellipsis
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    white-space: normal

.more
    width: 150px
    color: white
    font-size: 1.1rem
    background-color: #1b1d1f
    border: 5px solid #1b1d1f
    cursor: pointer
    margin-top: 10px

// media css

@media only screen and ( max-width: 781px )
    *
        padding: 0
        margin: 0

    .timeline
        &::after
            left: 50vw
            // z-index: -1
        .tags
            left: calc( 50vw - 51px )
    .right
        left: -8vw
        

    .row
        width: 100vw
        margin-right: auto
        margin-left: auto

        .content
            width: 100vw
            padding: auto 0

        .item
            width: 80vw
            position: relative
            margin: 0 auto

            .dialog
                margin: 5 auto !important
                background-color: $primary-color

            .circle
                display: none !important

            .arrow
                display: none !important


        .lab
            width: 100vw
            margin: 0px
            padding: 0px
            background-color: $primary-color

        .desc
            padding: 0 15px 0 15px
            margin: 0


            
    hr
        display: none !important

    .ellipsis
        background-color: $primary-color
