$font-stack: arial, sans-serif
$primary-color: #38434D

*
    margin: 0
    padding: 0

body
    color: #fff
    font: 100% $font-stack
    font-size: 20px
    background-color: $primary-color

.row
    margin-right: auto
    margin-left: auto
    width: 100%
    max-width: 1140px

.content
    position: relative
    width: 50%
    border-radius: 6px
    padding: 100px 0 0 0

.timeline
    position: relative
    max-width: 1200px
    margin: 0 auto

    &::after
        content: ''
        position: absolute
        width: 6px
        background-color: white
        top: 0
        bottom: 0
        left: 50%
        margin-left: -3px
        z-index: -1

    .tags
        position: absolute
        width: 50%
        background-color: #1b1d1f
        border: 7px solid #1b1d1f
        font-size: 2em
        margin: 2% 0 0 0
        left: 25%
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        text-align: center

    .item
        position: absolute
        width: 100%
        top: 20%

        .dialog
            width: 75%
            padding: 20px 30px
            margin: 1% 0 30% 0
            border: #fff solid
            position: relative
            text-align: center
            left: 30px
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
            transition-duration: 0.4s
            &:hover
                filter: brightness(115%)

            &::after
                position: absolute
                content: ""
                top: calc( 50% - 15px )
                left: -8px
                transform: translateX(-50%)
                width: 0
                height: 0
                border-width: 10px 10px 10px 0
                border-style: solid
                border-color: transparent #fff transparent transparent

            .dialog-title
                position: absolute
                width: 100px
                margin-top: -40px
                left: calc( 50% - 50px )
                background-color: #f5af19
                border: 7px solid #f5af19
                border-radius: 15px
                font-size: 0.8em
                text-align: center
                color: #1b1d1f
                letter-spacing: 1px
                z-index: 1

            .circle
                position: absolute
                width: 15px
                height: 15px
                background-color: #08adda
                border: 4px solid white
                border-radius: 50%
                left: -45px
                top: calc( 50% - 15px )
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.left
    left: 0%

.right
    left: 100%

.lab
    text-align: center
    position: relative
    width: 90%
    padding: 10px

    .title
        text-align: center
        font-size: 22px
        font-weight: bold

    .pic
        width: 80%
        vertical-align: middle
        display: block
        margin: auto
        font-size: 14px
        margin-top: 5px

        img
            width: 100%
            vertical-align: middle
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

    .desc
        padding: 5px 0 10px 0
        font-size: 18px

hr
    display: block
    height: 1px
    border: 0
    border-top: 3px solid #1b1d1f
    margin: 1em 0
    padding: 0

.more
    width: 150px
    color: white
    font-size: 1.1rem
    background-color: #1b1d1f
    border: 5px solid #1b1d1f
    cursor: pointer
    margin-top: 10px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    text-align: center
    transition-duration: 0.2s

    &:hover
        filter: brightness(250%)

// media css

@media only screen and ( max-width: 781px )
    *
        padding: 0
        margin: 0

    .timeline
        &::after
            left: 50vw
        .tags
            left: 25%
    .right
        left: 0%

    .row
        width: 100vw
        margin-right: auto
        margin-left: auto

        .content
            width: 100vw
            padding: 100px 0 60px 0

        .item
            width: 100vw
            position: relative

            .dialog
                width: 75vw
                margin: 8% 0
                margin-right: auto
                margin-left: auto
                background-color: $primary-color
                left: 0px
                text-align: center

                &::after
                    display: none !important

                .dialog-title
                    left: calc( 50% - 56px )

        .circle
            display: none !important

        .lab
            width: 100vw
            margin: 0px
            padding: 0px
            background-color: $primary-color

        .desc
            padding: 0 15px 0 15px
            margin: 2% 0 5% 0

    hr
        display: none !important

    .ellipsis
        background-color: $primary-color
